@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700');

body {
    overflow-x: hidden;
	margin-top: 0px;
	padding: 90px;
}
img {
	display:inline;
	}
a {
    cursor: pointer;
}

    a:hover, a:focus {
        outline: none;
        text-decoration: none;
    }

.m-t-25 {
    margin-top: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-steps {
    margin-left: 5px !important;
    float:left;
    font-size: 90px;
    text-align: center;
	font-weight:bold;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.no-border-top {
    border-top: none !important;
}

@media only screen and (max-width: 767px) {
    .p-l-15-mobile {
        padding-left: 15px !important;
    }
}


.navbar {
    margin-bottom: 0;
	
}

.navbar-default {
    background-image: none;
    border-radius: 0;
    border: none;
    background: #FFFFFF;
}

.navbar-brand {
    padding: 2px 10px;
}

    .navbar-brand img {
        width: 150%;
        max-width: 150px;
    }

.navbar-nav {
    float: left;
}

    .navbar-nav > li {
        text-align: center;
    }

.navbar-default .navbar-nav > li > a {
    font-family: Arial;
    text-shadow: none;
    color: #333333;
    font-size: 13px;
	font-weight: bold;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        text-shadow: 0px 2px 2px #777;
        color: #fff;
    }

@media only screen and (max-width: 767px) {
    .navbar-nav {
        display: block;
        width: auto;
        float: none;
    }
        .navbar-nav > li {
            display: block;
        }

    .navbar-default .navbar-toggle {
        border-color: #000;
        background: transparent;
        color: #000;
        float: right;
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background: transparent;
            color: #fff;
            border-color: #fff;
        }

    .navbar-header {
        text-align: center;
    }

    .navbar-brand {
        padding: 5px 10px;
        margin: 0 auto;
        display: block;
		float: left;
        width: 120px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 15px 8px;
    }
}

.content-box {
    background: #fff;
}

.content h1 {
    font-family: Open Sans;
    font-weight: 700;
    margin: 30px 0 16px 0;
    color: #222;
    font-size: 46px;
    line-height: 44px;
}

.content .img-responsive {
    margin: 0 auto 5px auto;
}

.content p {
    font-family: Verdana;
    margin: 0 0 20px 0;
    line-height: 26px;
    font-size: 17px;
    color: #222;
}

    .content p.small-text {
        font-size: 15px;
        padding: 15px 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        line-height: 23px;
    }

    .content p.pink-text {
        color: #0198bd;
    }

    .content p.update {
        border: 1px dotted #000;
        background: #EFFFF7;
        padding: 4px 9px;
    }

        .content p.update .red-text {
            color: #F00;
        }

.content h5 {
    font-family: Georgia;
    color: #222;
    margin: 8px 0 20px 0;
    font-size: 20px;
    line-height: 28px;
}

    .content h5.pink-border-bottom {
        color: #666;
        border-bottom: 2px solid #0198bd;
        margin-bottom: 15px;
    }

.content h4 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #222;
    margin: 0 0 20px 0;
}

.content p a {
    color: #0198bd;
}

    .content p a:hover, .content p a:focus {
        color: #0198bd;
    }

.content h3 {
    font-family: Open Sans;
    font-weight: 700;
    color: #222;
    margin: 26px 0;
    font-size: 26px;
}

.content .top-bottom-border {
    width: 100%;
    height: 13px;
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
}

.grey-box {
    padding-top: 15px;
    background: #ccc;
    margin: 0 0 20px 0;
}

.content .grey-box h4 {
    margin-top: 5px;
}

.grey-box .box-inner {
    margin-bottom: 20px;
}

.content .revival-box {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.content .revival-box2 {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background: #f5f9fa;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}



    .content .revival-box .button {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

@media only screen and (max-width: 767px) {
    .content .grey-box .img-responsive {
        margin-bottom: 15px;
    }

    .content .revival-text {
        text-align: center;
    }

    .content .revival-box .rev {
        margin-bottom: 15px;
    }

    .content .revival-box .button {
        margin: 0 auto 20px auto;
    }

    .content h1 {
        font-size: 30px;
    }
}

.comments {
    background: #fff;
    padding-bottom: 30px;
}

.recent {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}

    .recent p, .recent a {
        font-family: Lato;
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        color: #3B5998;
    }

    .recent p {
        font-weight: bold;
    }

.media {
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #E2E2E2;
}

    .media.border-bottom {
        border-bottom: 1px solid #E2E2E2;
    }

.media-left img {
    margin-top: 6px;
}

.media-body h4 a {
    font-family: Lato;
    font-size: 13px;
    color: #3B5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: bold;
}

    .media-body h4 a:hover, .media-body h4 a:focus {
        color: #3B5998;
    }

.media-body p {
    font-family: Lato;
    font-size: 12px;
    color: #1A1A1A;
    line-height: 15px;
    margin: 0 0 5px 0;
}

    .media-body p.bottom {
        color: #3B5998;
    }

        .media-body p.bottom .like {
            margin-left: 8px;
        }

        .media-body p.bottom .time {
            color: #808080;
            border-bottom: 1px dotted #808080;
        }

.comments p.small {
    font-family: Lato;
    font-size: 11px;
    color: #3B5998;
    margin: 10px 0;
}

.footer {
    width: 100%;
    height: 100px;
    background: #000;
    text-align: center;
    padding-top: 30px;
}

.footer a {
     color: DimGray ;
}

.timer {
    position: fixed;
    width: 100%;
    background: #333333;
    bottom: 0;
    padding: 8px 0;
}

#advertisement {
	text-align:center;
	color: DarkGrey ;
	font-size: 10px;
	font-family: Arial;
}

.col-md-4{
	padding-top:30px;
}

img.checkmark{ 
  border:0;
  display:block;
  float:left;
  height:29px;
  margin:10px 0 0 12px;
  width:30px;}

div.steps{ 
  float:left;
  
  font-size:22px;
  font-weight:bold;
  padding:22px 0 0 0;
  }
a.offer:link,a.offer:visited{
  color:#0000ee;
  text-decoration:underline;}
  
a.offer:active,a.offer:hover{text-decoration:none;}

div.warning{
  color:#434343;
  font-family: Open Sans;
  font-weight: 700;
  padding:22px 12px 0 12px;
  text-align:center;}
/*div.steps a:link,div.steps a:visited{ 
  
  font-size:14px;
  font-weight:normal;
  line-height:15px;}
  
div.steps a:active,div.steps a:hover{text-decoration:none;}



.clear{clear:both;}
a.offer:link,a.offer:visited{
  color:#0000ee;
  text-decoration:underline;}
  
a.offer:active,a.offer:hover{text-decoration:none;}*/
/* Remove Side Bar on Tablet and Mobile*/
@media only screen and (max-width : 992px) {
    .col-md-4 {
        display: none;
    }
}

.in-article-image figcaption {
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 700;
    background: #0198bd;
    margin-bottom: 20px;
    color: #fff;
}

.in-article-image img {
    width: 100%;
    height: auto;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #0198bd;
  border-radius: 0.6em;
  color: #0198bd;
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  margin: 25px 0;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.fourth {
  background-image: linear-gradient(45deg, #0198bd 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: all 300ms ease-in-out;
}

.fourth:hover {
  background-position: 0;
}

.d65gB9rb01d label {
    cursor: pointer;
    color: #666;
    font-weight: 700;
    vertical-align: middle
}

.d65gB9rb01d label input {
    font-weight: 400
}

.d65gB9rb01d textarea {
    max-width: 100%
}

.d65gB9rb01d button,
.d65gB9rb01d input,
.d65gB9rb01d label,
.d65gB9rb01d td,
.d65gB9rb01d textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

.d65gB9rb01d a {
    color: #365899;
    cursor: pointer;
    text-decoration: none
}

.d65gB9rb01d button {
    margin: 0
}

.d65gB9rb01d a:hover {
    text-decoration: underline
}

.d65gB9rb01d img {
    border: 0
}

.d65gB9rb01d abbr {
    border-bottom: none;
    text-decoration: none
}

.d65gB9rb01d .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.d65gB9rb01d .clearfix {
    zoom: 1
}

.d65gB9rb01d ::-webkit-input-placeholder {
    color: #90949c
}

.d65gB9rb01d :focus::-webkit-input-placeholder {
    color: #bec2c9
}

.d65gB9rb01d ._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap
}

.d65gB9rb01d ._42ft:hover {
    text-decoration: none
}

.d65gB9rb01d ._42fr {
    cursor: default
}

.d65gB9rb01d .lfloat {
    float: left
}

.d65gB9rb01d .rfloat {
    float: right
}

.d65gB9rb01d .fss {
    font-size: 9px
}

.d65gB9rb01d .fsm {
    font-size: 12px
}

.d65gB9rb01d .fwn {
    font-weight: 400
}

.d65gB9rb01d .fcg {
    color: #90949c
}

.d65gB9rb01d a._p {
    display: block
}

.d65gB9rb01d ._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle
}

.d65gB9rb01d ._4jy0::before {
    content: "";
    display: inline-block;
    height: 20px;
    vertical-align: middle
}

.d65gB9rb01d ._4jy0 .img {
    position: relative;
    vertical-align: middle
}

.d65gB9rb01d ._517h {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56
}

.d65gB9rb01d ._517h:hover {
    background-color: #e9ebee
}

.d65gB9rb01d ._517h:active {
    background-color: #dddfe2;
    border-color: #bec2c9
}

.d65gB9rb01d ._4jy1 {
    color: #fff
}

.d65gB9rb01d ._4jy1 {
    background-color: #4267b2;
    border-color: #4267b2
}

.d65gB9rb01d ._4jy1:hover {
    background-color: #365899;
    border-color: #365899
}

.d65gB9rb01d ._4jy1:active {
    background-color: #29487d;
    border-color: #29487d
}

.d65gB9rb01d ._4jy1._42fr {
    background-color: #9cb4d8;
    border-color: #9cb4d8
}

.d65gB9rb01d ._4jy3,
.d65gB9rb01d ._4jy3._42fr:active {
    line-height: 22px
}

.d65gB9rb01d ._50f3 {
    font-size: 12px;
    line-height: 16px
}

.d65gB9rb01d ._50f7 {
    font-weight: 700
}

.d65gB9rb01d ._5kx5 {
    font-weight: 400
}

.d65gB9rb01d ._50f8 {
    color: #90949c
}

.d65gB9rb01d ._42ef {
    overflow: hidden
}

.d65gB9rb01d ._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

.d65gB9rb01d .reg14981bs6:first-child>._51m- {
    padding-top: 0
}

.d65gB9rb01d .reg14981bs6:last-child>._51m- {
    padding-bottom: 0
}

.d65gB9rb01d ._51mz ._51mw {
    padding-right: 0
}

.d65gB9rb01d ._51mz ._51m-:first-child {
    padding-left: 0
}

.d65gB9rb01d ._8o,
.d65gB9rb01d ._8o .img {
    display: block
}

.d65gB9rb01d ._8r {
    margin-right: 5px
}

.d65gB9rb01d ._8s {
    margin-right: 8px
}

.d65gB9rb01d ._6a {
    display: inline-block
}

.d65gB9rb01d ._6b {
    vertical-align: middle
}

.d65gB9rb01d ._ohe {
    float: left
}

.d65gB9rb01d ._ohf {
    float: right
}

.d65gB9rb01d .eh16abf3fb1b {
    font-style: normal
}

.d65gB9rb01d ._3-8m {
    margin-bottom: 4px;
    margin-top: 4px
}

.d65gB9rb01d ._3-8y {
    margin-top: 12px
}

.d65gB9rb01d .reh5819e1bdf13d {
    margin-right: 4px
}

.d65gB9rb01d ._3-96 {
    margin-bottom: 12px
}

.d65gB9rb01d ._3-99 {
    margin-left: 4px
}

.d65gB9rb01d ._2ph- {
    padding: 8px
}

.d65gB9rb01d ._2pi3 {
    padding-bottom: 8px;
    padding-top: 8px
}

.d65gB9rb01d .erh8g49eb16svd1 {
    padding-left: 8px;
    padding-right: 8px
}

.d65gB9rb01d ._2pis {
    padding-left: 8px
}

.d65gB9rb01d .sp_Zf93eLkohoS {
    display: inline-block;
    height: 12px;
    width: 12px
}

.d65gB9rb01d .sp_Zf93eLkohoS.sx_97c3ab {
    width: 14px;
    height: 14px;
    background-position: -19px -182px
}

.d65gB9rb01d ._2agf {
    word-wrap: normal
}

.d65gB9rb01d ._55pe {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap
}

.d65gB9rb01d a.uiLinkSubtle {
    color: #90949c
}

.d65gB9rb01d .uiInputLabel {
    position: relative
}

.d65gB9rb01d .uiInputLabelInput {
    margin: 0;
    padding: 0;
    position: absolute
}

.d65gB9rb01d .uiInputLabel .uiInputLabelLabel {
    display: inline-block;
    margin-left: 17px;
    vertical-align: baseline
}

.d65gB9rb01d .UFIInputContainer {
    position: relative
}

.d65gB9rb01d .UFICommentAttachmentButtons {
    bottom: 0;
    height: 24px;
    position: absolute;
    right: 0
}

.d65gB9rb01d .UFICommentActorName {
    font-weight: 700
}

.d65gB9rb01d ._5v47 {
    display: inline;
    white-space: nowrap
}

.d65gB9rb01d ._5uzb {
    padding-right: 3px
}

.d65gB9rb01d .sp_-J_-HgF_hOz {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.d65gB9rb01d .sp_-J_-HgF_hOz.sx_0beb10 {
    background: url(like.png);
    width: 16px;
    height: 15px;
}

.d65gB9rb01d .sp_LOJ2j-KswDP {
    display: inline-block;
    height: 16px;
    width: 16px
}

.d65gB9rb01d .sp_LOJ2j-KswDP.sx_1e62d4 {
    width: 12px;
    height: 12px;
    background-position: -365px -220px
}

.d65gB9rb01d .sp_LOJ2j-KswDP.sx_32ff1f {
    width: 9px;
    height: 6px;
    background-position: 0px 0px;
    background-size: 100% 100%;
    background: url(selectbg.png);
}

.d65gB9rb01d ._56q9 {
    font-size: 14px;
    line-height: 1.358;
    word-break: break-word;
    word-wrap: break-word
}

.d65gB9rb01d ._44ri {
    border-left: 1px dotted #d3d6db
}

.d65gB9rb01d ._2vq9 {
    font-size: 12px;
    line-height: 1.358;
    padding-top: 2px
}

.d65gB9rb01d ._2vq9 a {
    color: #4267b2
}

.d65gB9rb01d ._2vq9 .livetimestamp,
.d65gB9rb01d ._2vq9 .uiLinkSubtle {
    color: #90949c
}

.d65gB9rb01d ._4iy4 {
    bottom: -2px;
    position: relative
}

.d65gB9rb01d ._4q1v {
    color: #90949c;
    display: inline
}

.d65gB9rb01d ._4q1v a {
    color: #90949c
}

.d65gB9rb01d ._5mdd {
    word-wrap: break-word
}

.d65gB9rb01d ._5mdd ._5v47 {
    font-size: 14px
}

.d65gB9rb01d ._5mdd a {
    color: #4267b2
}

.d65gB9rb01d ._2392 {
    margin-bottom: 24px
}

.d65gB9rb01d .561bdf56gdf56g ._1cb {
    border: 1px solid #d3d6db;
    word-wrap: break-word
}

.d65gB9rb01d ._1zz8 ._1u9t {
    min-height: 40px
}

.d65gB9rb01d ._1u9t {
    box-sizing: border-box;
    vertical-align: top;
    width: 100%
}

.d65gB9rb01d .561bdf56gdf56g ._1u9t {
    font-size: 14px;
    padding: 12px 8px
}

.d65gB9rb01d ._5tr6 {
    background: #f6f7f9;
    text-align: right
}

.d65gB9rb01d ._5tr6 ._42fr:active,
.d65gB9rb01d ._5tr6 button {
    font-size: 14px;
    white-space: normal
}

.d65gB9rb01d ._4uym {
    border-width: 0 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #d3d6db;
    border-bottom-color: #d3d6db;
    border-left-color: #d3d6db;
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial
}

.d65gB9rb01d ._2ern {
    font-size: 12px
}

.d65gB9rb01d ._1u0n {
    line-height: 24px
}

.d65gB9rb01d ._5lm5 {
    border-top: 1px solid #e9ebee;
    font-size: 11px
}

.d65gB9rb01d .g651df651ga65 {
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 8px 0
}

.d65gB9rb01d ._pup {
    color: #4b4f56
}

.d65gB9rb01d ._5o4h ._1gl3 {
    background: #4080ff;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
    padding: 12px;
    text-shadow: none;
    width: 100%
}

.d65gB9rb01d ._1ci {
    height: 48px;
    width: 48px
}

.d65gB9rb01d ._1cj {
    height: 36px;
    width: 36px
}

.d65gB9rb01d ._5yct {
    background-color: #f6f7f9;
    color: #365899
}

.d65gB9rb01d ._55sg {
    vertical-align: baseline
}

.d65gB9rb01d .uiInputLabel ._55sg+.uiInputLabelLabel {
    margin-left: 23px
}

.d65gB9rb01d ._kv1 {
    position: relative
}

.d65gB9rb01d .uiInputLabelInput._kv1 {
    position: absolute
}